name: Launcher Build
on:
  push:
    branches: [ master ]

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-14]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install dependencies
        run: npm install
        shell: bash

      - name: Build launcher
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build
        shell: bash

      - name: Create GitHub release
        id: release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name || 'v' + github.run_number }}
          name: Launcher ${{ github.ref_name || github.run_number }}
          draft: false
          prerelease: false
          artifacts: |
            dist/win-unpacked/**/*.exe
            dist/mac/**/*.app
            dist/linux-unpacked/**/*

